<h2 class ='text-2xl font-bold text-center w-1/4 m-auto mt-8'>Flights to</h2>
<div class='flex flex-col md:flex-row items-center m-auto my-4 w-5/6 justify-between'>
  <div class='box'>
    <%= image_tag 'golden-gate-bridge.jpg', alt: 'golden gate bridge' %>
    <p class='bg-gray-300 text-xl w-full text-center'>San Francisco</p>
  </div>
  <div class='box'>
    <%= image_tag 'statue-of-liberty.jpg', alt: 'statue of liberty' %>
    <p class='bg-gray-300 text-xl w-full text-center'>New York</p>
  </div>
  <div class='box'>
    <%= image_tag 'chicago.jpeg', alt: 'chicago skyline' %>
    <p class='bg-gray-300 text-xl w-full text-center'>Chicago</p>
  </div>
</div>