<div class='flex flex-col md:flex-row items-center m-auto my-8 w-5/6 justify-between'>
  <div class='big-box'>
    <h2 class='text-lg w-full text-center py-2'>Safe Traveling Guidelines</h2>
    <%= image_tag 'covid-mask.jpg', alt: 'masked woman' %>
    <ul class='list-disc ml-6 mt-4'>
      <li>Face coverings required on all flights</li>
      <li>Temperature checks at gate</li>
    </ul>
  </div>
  <div class='big-box'>
    <h2 class='text-lg w-full text-center py-2'>OA Covid 19 Safety</h2>
    <%= image_tag 'wipedown', size: '400x400', alt: 'surface disinfecting wipedown' %>
    <ul class='list-disc ml-6 mt-4'>
      <li>All surfaces cleaned between flights</li>
      <li>Middle Seats open on all OA flights</li>
      <li>Inflight service suspended on flights < 2hrs</li>
    </ul>
  </div>
</div>